/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Reset*/


body {
	background-color:#999999;
}

#wrapper {
	width:1000px;
	height:950px;
	margin:0px auto;
	background-color:#FFFFFF;
}

#top {
	background-color:#005353;
	width:100%;
	padding:20px 0;
	overflow:hidden;
	border-bottom:thin #525252 solid;
}

#logo {
	margin-left:10px;
}

#topnav {
	background-color:#333333;
	clear:both; 
}

#topnav ul {
	width:100%;
	float:left;
	margin:0;
	background-color:#333333;
	border-bottom:2px #000000 solid; 
}

#topnav ul li {
	display:inline;
	font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 15px;
}

#topnav ul li a {
	float:left;
	padding:20px 30px;
}

#topnav a {
	text-decoration:none;
}

#topnav a:link {
	color:#FFFFFF;
}

#topnav a:visited {
	color:#FFFFFF;
}

#topnav a:active {
	color:#FFFFFF;
}

#topnav a:hover {
	color:#FFFFFF;
	background-color:#910000
}

#content {
	padding: 25px 30px;
	margin:100px;
	border-left:3px #000000 solid;
}

#content h1 {
	font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size:50px;
	margin-bottom:50px;
}

#content li {
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size:15px;
	padding:0px 0px 20px 0px;
}

#content ol {
	list-style:decimal;
}

