vti_encoding:SR|utf8-nl
vti_author:SR|David-PC\\David
vti_modifiedby:SR|David-PC\\David
vti_timelastmodified:TR|02 Aug 2014 00:41:50 -0000
vti_timecreated:TR|29 Jul 2014 22:03:38 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|php_asp_programs/process_info.php
vti_nexttolasttimemodified:TW|02 Aug 2014 00:41:42 -0000
vti_cacheddtm:TX|02 Aug 2014 00:41:50 -0000
vti_filesize:IR|2473
